@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-height: 100vh;
}

.App, #root{
  min-height: 100vh;
}

.dFlex{
  display: flex;
}

.fsizeBig {
  font-size: 2.5rem;
}

.fs175 {
  font-size: 1.75rem;
}

.fw400 {
  font-weight: 400;
}

.menu{
  list-style-type: none;
  width: 400px;
  justify-content: space-around;
}

.nav{
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   padding-left: 20px;
   padding-right: 20px;
}

.content {
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
}

.gray {
  background-color: #ccc;
}

.orange {
  background-color: #fa7f14;
}

.displayCalculator {
  grid-column: 1 / span 4;
  background-color: #777;
  color: white;
}

.zeroButton {
  grid-column: 1 / span 2;
}

#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  width: 500px;
}

#calculator span {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #aaa;
}

#calculator .displayCalculator {
  text-align: right;
  padding-right: 10px;
}

.quoteContainer{
  padding-left: 15%;
  padding-right: 15%;
}

.calculatorContainer {
  justify-content: space-around;
}
