* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dFlex{
  display: flex;
}

.menu{
  list-style-type: none;
  width: 300px;
  justify-content: space-around;
}

.nav{
   justify-content: space-between;
}

.gray {
  background-color: #ccc;
}

.orange {
  background-color: #fa7f14;
}

.displayCalculator {
  grid-column: 1 / span 4;
  background-color: #777;
  color: white;
}

.zeroButton {
  grid-column: 1 / span 2;
}

#calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#calculator span {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #aaa;
}

#calculator .displayCalculator {
  text-align: right;
  padding-right: 10px;
}
